body, h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif;
  letter-spacing:3px;
}

/* General */

.line{
  width: 100%;
  height: 2px;
  background: black;

  max-width: 400px;
  margin: -15px auto;
}


/* Containers */

.container{
  width: 100%;
  height: 100%;
}

.container-left, .container-right{
  width: 49%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.container-right > div {
  width: 100%;
  height: 100%;
}

.container-right > div > iframe{
  position: relative;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.container-left-intro{
  height: 50%;
  display: block;

}

.container-left-intro-inner{
  position: relative;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.container-left-intro-inner > div > h1{
  margin: -5px;
}


/* Introduction */


.intro-title-bold{
  font-weight: 900;
  text-transform: uppercase;
    text-align: center;
}

.intro-title-thin > h1{
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;

}

.intro-links > h3{
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
}
